h1 {
  font-family:'Courier New';
  font-size: 48px;
  color: brown;
}

h2 {
  font-family: sans-serif;
  color: brown;
  margin-top: 2rem;
}

p {
  font-family: Arial;
}

option {
  width: 10px;
  height: 10px;
  align-items: center;
}